.layout-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  padding: 96px 40px;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

/* Tus huecos siguen ocupando celda, pero no se ven */
.grid-hole {
  pointer-events: none;
  visibility: hidden;
}

/* ===== Laptop / desktop pequeño ===== */
@media (max-width: 1300px) {
  .layout-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
    width: auto;
  }
}

/* ===== Tablet ===== */
@media (max-width: 1024px) {
  .layout-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
    padding: 80px 28px;
    width: auto;
  }

  /* Si no quieres holes en tablet */
  .grid-hole {
    display: none;
  }
}

/* ===== Mobile (general) ===== */
@media (max-width: 768px) {
  .layout-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 22px;
    padding: 56px 18px;
    width: auto;

  }

  .grid-hole {
    display: none;
  }
}

/* ===== iPhone (≤480) ===== */
@media (max-width: 480px) {
  .layout-grid {
  grid-template-columns:  repeat(1, minmax(0, 1fr));
  margin: 20px;
  padding: 56px 18px; /* en móvil */
}
}
